<p>trading-card works!</p>

<article class="max-w-sm overflow-hidden rounded-lg">
  <ng-content
    select="trading-card-image"
    class="w-full"
    alt="Article's uploaded hero image."
  />
  <section class="px-6 py-4">
    <div class="pt-3">
      <ng-content select="trading-card-title" alt="Name of product article" />
      <ng-contnet
        select="trading-card-description"
        alt="Description for product article"
      />
    </div>

    <SecondaryButton
      class="m-1 cursor-pointer rounded-b-lg bg-red-500 p-1 text-white"
      @click="productRemove()"
    >
      Add this+
    </SecondaryButton>
  </section>
</article>
