<p>nav-bar works!</p>

<nav
  *ngFor="let link of route"
  class="relative bg-[#f1e6e9] px-6 pb-8 pt-10 p-0 m-0"
>
  <a
    routerLink="/dashboard"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="font-medium px-10 text-[#04030A] hover:text-[#F7F3EA] hover:bg-[#04030A]"
  >
    Dashboard
  </a>

  <a
    routerLink="/products"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="font-medium px-10 text-[#04030A] hover:text-[#F7F3EA] hover:bg-[#04030A]"
  >
    Products
  </a>

  <a
    routerLink="/users"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="font-medium px-10 text-[#04030A] hover:text-[#F7F3EA] hover:bg-[#04030A]"
  >
    > Profiles
  </a>
</nav>

<router-outlet />
