<p>user-login works!</p>

<article
  class="mx-auto flex flex-col max-w-sm items-center gap-6 p-8 md:flex-row md:gap-10 rounded-2xl"
>
  <section class="flex items-center md:items-start">
    <form action="" method="get">
      <label for="username" class="text-2xl font-medium text-sky-500"
        >Username</label
      >
      <input [formControl]="name" type="email" name="email" id="" />

      <label for="" class="text-xl font-medium text-black">Password</label>
      <input type="password" name="password" id="" />

      <input type="submit" value="login" />
    </form>
  </section>
</article>
